<div class="panel panel-primary">
    <div class="panel-heading">
        Employee Form
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col col-md-6">
                <form #form="ngForm" (submit)="sunmitForm(form)">
                    <!-- First Name -->
                    <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control" name="firstname"
                                [ngModel]="myUser.firstname"
                                (ngModelChange)="firstNameUpper($event)"
                                required
                                #firstName="ngModel"                        
                        >
                    </div>
                    <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">
                        First Name is required...
                    </div>
        
                    <!-- <div>
                        {{ firstName.invalid }}
                        {{ firstName.className }}
                    </div> -->
                    
                    <!-- Last Name -->
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input type="text" class="form-control" name="lastname"
                                [ngModel]="myUser.lastname"
                                (ngModelChange)="lastNameUpper($event)"
                                #lastName="ngModel"                        
                        >
                    </div>
        
                    <!-- eMail -->
                    <div class="form-group" [class.has-error]="eMail.invalid && eMail.touched">
                        <label class="control-label">Email ID</label>
                        <input type="text" class="form-control" name="email"
                                [(ngModel)]="myUser.email"
                                required
                                pattern="[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,5}$"
                                #eMail="ngModel"
                        >
                    </div>
                    <div class="alert alert-danger" *ngIf="eMail.invalid && eMail.touched">
                        Valid Email Id is required...
                    </div>

                    <!-- Password -->
                    <div class="form-group" [class.has-error]="pwd.invalid && pwd.touched">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="password"
                                [(ngModel)]="myUser.password"
                                required
                                minlength="5"
                                #pwd="ngModel"
                        >
                    </div>
                    <div class="alert alert-danger" *ngIf="pwd.invalid && pwd.touched">
                        Minimum lenght of password id 5 characters...
                    </div>

                    <!-- Coding Language -->
                    <div class="form-group" [class.has-error]="hasCodeLangError">
                        <label class="control-label">Coding Language</label>
                        <select name="codeLang" class="form-control" [(ngModel)]="myUser.codeLang" (blur)="validateCodeLang($event)">
                            <option value="default">Select Language</option>
                            <option *ngFor="let lang of languages">
                                {{ lang }}
                            </option>
                        </select>
                    </div>

                    <div class="alert alert-danger" *ngIf="hasCodeLangError">
                        Minimum lenght of password id 5 characters...
                    </div>

                    <br>

                    <!-- <button type="submit" class="btn btn-success" (click)="myConsole()">Submit</button> -->
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col col-md-6 text-center" id="display">
                
            </div>
        </div>
    </div>
</div>